In [2]:
import pandas as pd
data1=pd.read_csv("./telecom.csv")

In [33]:
data1.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [34]:
X = data1.iloc[:,6:20].values
X

array([[ 25.  , 265.1 , 110.  , ...,   3.  ,   2.7 ,   1.  ],
       [ 26.  , 161.6 , 123.  , ...,   3.  ,   3.7 ,   1.  ],
       [  0.  , 243.4 , 114.  , ...,   5.  ,   3.29,   0.  ],
       ...,
       [  0.  , 180.8 , 109.  , ...,   6.  ,   3.81,   2.  ],
       [  0.  , 213.8 , 105.  , ...,  10.  ,   1.35,   2.  ],
       [ 25.  , 234.4 , 113.  , ...,   4.  ,   3.7 ,   0.  ]])

In [35]:

Y=data1.iloc[:,20].values
Y

array([False, False, False, ..., False, False, False])

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1, random_state=101)

In [37]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB().fit(X_train, Y_train)

In [40]:
import numpy as np

Y_pred = model.predict(X_test)
Y_pred

array([False,  True,  True, False, False,  True, False,  True, False,
       False, False,  True,  True, False, False,  True,  True, False,
       False, False, False, False, False,  True, False, False,  True,
       False, False, False, False,  True, False,  True,  True, False,
        True, False, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True, False,  True, False,
       False, False,  True,  True,  True,  True, False, False,  True,
        True, False,  True,  True,  True,  True,  True, False, False,
        True, False,  True, False,  True,  True, False,  True, False,
       False,  True, False,  True, False,  True, False,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False,  True, False,  True,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False,  True,
       False, False, False,  True,  True, False,  True,  True, False,
       False, False, False,  True,  True, False, False, False, False,
        True,  True, False, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
        True,  True,  True,  True, False, False, False, False,  True,
        True, False, False, False, False,  True,  True, False, False,
        True, False,  True, False,  True,  True, False, False,  True,
       False,  True, False, False,  True, False, False,  True, False,
       False, False, False,  True,  True,  True, False,  True, False,
       False, False, False,  True, False,  True,  True, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False,  True, False, False,  True, False,  True,  True,
       False,  True,  True,  True,  True, False, False,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
       False, False, False,  True, False,  True,  True,  True, False,
        True, False,  True, False, False,  True,  True, False, False,
        True,  True, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False,  True,  True, False,
        True, False, False, False,  True, False, False, False,  True,
       False, False,  True,  True, False,  True, False, False, False,
       False, False,  True, False, False, False, False, False, False,
        True,  True,  True, False, False,  True, False, False, False,
        True])

In [43]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[172 105]
 [ 28  29]]
              precision    recall  f1-score   support

       False       0.86      0.62      0.72       277
        True       0.22      0.51      0.30        57

    accuracy                           0.60       334
   macro avg       0.54      0.56      0.51       334
weighted avg       0.75      0.60      0.65       334